Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@naimimohammad 
This repository has been archived by the owner. It is now read-only.
microsoft
/
TypeScript-Node-Starter
Public archive
Code
Issues
53
Pull requests
18
Actions
Projects
Wiki
Security
Insights
TypeScript-Node-Starter/.gitignore
@Jareechang
Jareechang Add better logging when setting custom env var using .env
Latest commit 44bf255 on Mar 17, 2019
 History
 4 contributors
@Jareechang@peterblazejewicz@msftgits@antamb
41 lines (32 sloc)  343 Bytes


lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Build
public/css/main.css

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db
*.js
package-lock.json
# Ignore built ts files
lib/**/*

# ignore yarn.lock
yarn.lock
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
